<p id="notice"><%= notice %></p>

<h1>Ahorros</h1>

<table>
  <thead>
    <tr>
      <th>Id viaje</th>
      <th>Fecha deposito</th>
      <th>Numero depostio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ahorros.each do |ahorro| %>
      <tr>
        <td><%= ahorro.id_viaje %></td>
        <td><%= ahorro.fecha_deposito %></td>
        <td><%= ahorro.numero_depostio %></td>
        <td><%= link_to 'Show', ahorro %></td>
        <td><%= link_to 'Edit', edit_ahorro_path(ahorro) %></td>
        <td><%= link_to 'Destroy', ahorro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ahorro', new_ahorro_path %>
